.btnwpp__container{
    height: 3rem;
    width: 3rem;
    padding: .5rem;
    background-color: #25D366;
    border-radius: .5rem; 
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 3;
    cursor: pointer;

    &:hover{
        background-color: var(--clr-greydark);
    }
    
    img{
        height: inherit;
        width: auto;
    }
}