@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.main__container {
  // overflow-x: hidden;
  .content__img {
    padding-bottom: 4rem;
    clip-path: inset(0px -100vw 0px 0px);

  }

  .slidebar {
    width: 120%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
    background-color: var(--clr-pink);
    will-change: transform;
    transform: rotate(3deg) translateX(-10%) translateY(-40%);

    @include breakPoint($dev-md){
      height: 60px;
    }

    @include breakPoint($dev-lg) {
      height: 90px;
      transform: rotate(3deg) translateX(-10%) translateY(-70%);
    }

    .slide {
      box-sizing: border-box;
      padding-left: 2rem ;
      flex: 0 0 100%;
      @include flex(row, center, center, 2rem);

      img {
        height: 50%;
        width: auto;
      }
    }
  }
}
