@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;

.main__container {
  // overflow-x: hidden;

  .content{
    // overflow-x: hidden;
  }
  .content__img {
    padding-bottom: 4rem;
    clip-path: inset(0px -100vw 0px 0px);
    
    @include breakPoint($dev-lg){
      clip-path: none;
    }

  }

  .slidebar__overflow{
    @include breakPoint($dev-lg){
      position: absolute;
      bottom: 0;
      height: 200px;
      width: 100%;
      overflow-x: hidden;
    }
  }

  .slidebar {
    position: absolute;
    bottom: 3rem;
    right: -5%;
    
    width: 120%;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
    background-color: var(--clr-pink);
    will-change: transform;
    transform: rotate(3deg);

    @include breakPoint($dev-md){
      height: 60px;
    }

    @include breakPoint($dev-lg) {
      overflow: hidden;
      top: 50px;
      height: 90px;
      // transform: rotate(3deg) translateX(-10%) translateY(-20%);
    }
    @include breakPoint($dev-xlg){
      top: 60px;
    }

    .slide {
      box-sizing: border-box;
      padding-left: 2rem ;
      flex: 0 0 100%;
      @include flex(row, center, center, 2rem);

      img {
        height: 50%;
        width: auto;
      }
    }
  }
}
