@use "../abstract/variables" as *; 
@use "../abstract/mixins" as *;

.txt-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 0 .5rem .5rem .5rem 0;
    background-color: var(--clr-grey);
    border-radius: var(--txt-sm);

    @include breakPoint($dev-lg){
        margin: 2rem 0;
        justify-self: end;
   }

    p{
        margin: 0 .5rem ;
        font-size: 80%;
    }

    img{
        height: calc(var(--txt-sm) + .5rem );
    }
}
