@use "../abstract/variables" as *; 
@use "../abstract/mixins" as *;

.txt-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 0rem 1rem 0rem 0;
    border-top-left-radius: var(--txt-sm);
    border-bottom-left-radius: var(--txt-sm);
    background-color: var(--clr-grey);
    clip-path: polygon(0 1%, 100% 0%, 95% 100%, 0% 100%);
    
    @include breakPoint($dev-lg){
        margin: 2rem 0;
        justify-self: end;
   }

    p{
        margin: 0 .5rem ;
        font-size: 80%;

        @include breakPoint($dev-md){
            font-size: 100%;
        }

        @include breakPoint($dev-lg){
            font-size: 120%;
        }
    }

    img{
        height: calc(var(--txt-sm) + .5rem );
    }
}
