@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.testimonials {
  .testimonials__container {
    padding: 1rem;

    @include breakPoint($dev-sm) {
      padding: 2rem;
    }
    @include breakPoint($dev-md) {
      padding: 4rem;
    }
    @include breakPoint($dev-lg) {
      @include flex(row-reverse, center, flex-start, none);
    }
    .testimonials__text,
    .testimonials__cards {
      flex: 1;
    }

    .testimonials__text {
      @include breakPoint($dev-lg) {
        @include flex(column, center, center, none);
      }
      .testimonials__img__container {
        display: none;
        @include breakPoint($dev-lg) {
          margin-top: 5rem;
          display: block;
          width: 100%;
          height: auto;
        }
        @include breakPoint($dev-xxlg){
          margin-top: 0;
        }
      }
      .testimonials__title {
        text-align: center;
      }
    }
  }
}

.testimonials__cards {
  @include breakPoint($dev-lg) {
    //  width: 50vw;
  }

  .testimonial__card {
    @include flex(column, center, center, none);
    position: relative;
    text-align: left;
    margin: 1rem;
    padding: 1rem;

    @include breakPoint($dev-sm) {
      padding: 2rem;
      margin: 1.5rem;
    }
    @include breakPoint($dev-md) {
      margin: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(2px);
      z-index: -1;
    }

    img {
      height: 20px;
      width: auto;
    }

    &:nth-child(odd) {
      clip-path: polygon(
        14% 0,
        86% 0,
        100% 0,
        100% 66%,
        86% 100%,
        14% 100%,
        0 100%,
        0 34%
      );
      &::before {
        background-color: #ffffff6c;
      }

      img {
        align-self: flex-end;
      }
    }
    &:nth-child(even) {
      //   background-color: #333;
      clip-path: polygon(
        20% 0%,
        86% 0,
        100% 34%,
        100% 100%,
        86% 100%,
        14% 100%,
        0 66%,
        0 0
      );
      &::before {
        background-color: #5f5f5f5b;
      }
      h4 {
        text-align: right;
      }
      img {
        align-self: flex-start;
      }
    }

    &:hover {
      color: var(--clr-grey);
      img {
        filter: invert(100%);
      }
      &::before {
        background-color: #0000006d;
      }
    }
  }
}
