@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.wrapper {
  height: auto;
  background-image: url(../../src/assets/img/graph-paper-white.svg);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--clr-pr);
}
.main {

  .main__container {
    height: 100svh;
    align-content: space-between;
  }

  .content {
    .content__img {

      @include breakPoint($dev-lg){
        height: inherit;

        .hero-img{
          height: 100%;
          width: auto;
          object-fit: cover;
          object-position: center;
        }
      }
      .hero-img{
        width: 100%;
      }
    }
  }
}

header,
.content{

  @include breakPoint($dev-lg){
    height: 100svh;
  }
}


header {

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: clamp(4rem, 1.037rem + 14.815vw, 5rem);

    @include breakPoint($dev-sm){
      height: 6rem;
    }
    @include breakPoint($dev-md){
      height: 7rem;
    }

    @include breakPoint($dev-lg){
      height: 8rem;
    }

    aside {
      position: relative;
      background-color: #000000;
      flex-grow: 1;

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        right: -2px;
      }
    }
  }

  .header__text {
    padding: 0 1.5rem;
    text-align: center;
    @include breakPoint($dev-sm){
      padding: 0 3rem;
    }
    @include breakPoint($dev-md){
      padding: 0 5rem;
    }
    @include breakPoint($dev-lg){
      text-align: right;
    }


    h1 {
      font-size: clamp(3rem, 1.857rem + 5.714vw, 4rem);
      letter-spacing: -2px;

      .br-md{
        display: none;

        @include breakPoint($dev-md){
          display: block;
        }
      }
      br{
        @include breakPoint($dev-md){
          
            display: none;
          
        }
      }

      @include breakPoint($dev-lg){
        text-align: right;
        font-size: 7rem;

        br{
          display: block
        }
      }
    }
    p{
      br{
        display: none;
      }
    }
  }
}
