@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.wrapper {
  height: auto;
  background-image: url(../../src/assets/img/graph-paper-white.svg);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--clr-pr);
}
.main {

  .main__container {
    height: auto;
    align-content: space-between;
  }

  .content {
    height: auto;

    .content__img {
    
      @include breakPoint($dev-lg){
        height: 100%;

        .hero-img{
          height: 100%;
          width: auto;
          object-fit: cover;
          object-position: center;
        }
      }
      .hero-img{
        width: 100%;
      }
    }
  }
}

header,
.content{

  @include breakPoint($dev-lg){
    height: 100svh;
  }
}


header {

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: clamp(4rem, 1.037rem + 14.815vw, 5rem);

    @include breakPoint($dev-sm){
      height: 6rem;
    }
    @include breakPoint($dev-md){
      height: 7rem;
    }

    @include breakPoint($dev-lg){
      height: 8rem;
    }

    aside {
      position: relative;
      background-color: #000000;
      flex-grow: 1;

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        right: -2px;
      }
    }
  }

  .header__text {
    h1 {
      .br-md{
        display: none;

        @include breakPoint($dev-md){
          display: block;
        }
      }
      br{
        @include breakPoint($dev-md){
            display: none;
        }
      }

      @include breakPoint($dev-lg){
        .br-md{
          display: none;
        }
        br{
          display: block
        }
      }
    }
    p{
      br{
        display: none;
      }
    }
  }
}

.header__text {
  @include breakPoint($dev-lg){
      box-sizing: border-box;
      padding: 0 3rem;
    h1,
    p{
      text-align: left;
    }
  }
}
