@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.wrapper {
  height: auto;
  background-image: url(../../src/assets/img/graph-paper-white.svg);
  background-repeat: repeat;
  background-size: auto;
  background-color: var(--clr-pr);
}
.main {

  .main__container {
    height: 100svh;
    align-content: space-between;
  }

  .content {
    .content__img {

      @include breakPoint($dev-lg){
        height: inherit;

        img{
          height: 100%;
          width: auto;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

header,
.content{

  @include breakPoint($dev-lg){
    height: 100svh;
  }
}


header {

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 6rem;

    aside {
      position: relative;
      background-color: #000000;
      flex-grow: 1;

      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        right: -2px;
      }
    }
  }

  .header__text {
    padding: 0 1rem;
    text-align: center;

    h1 {
      font-size: 3rem;
      letter-spacing: -2px;
    }
  }
}
