@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.us__text{

    h3{
        br{
            @include breakPoint($dev-md){
                display: none;
            }
        }
    }
}

.us__content{
    @include flex(column, center, center, none);
    @include breakPoint($dev-md){
        // flex-direction: row;
        // flex-wrap: wrap
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        
    }

    .us__card{
        @include flex(column, center, center, none);
        padding: 2rem;
        text-align: center;

        img{
            height: auto;
            width: 60%;

            @include breakPoint($dev-sm){
                width: 80%;
            }
            @include breakPoint($dev-md){
                // width: 50%;
            }
        }

    }
}