@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.us{
    .piechart__container{
        display: none;

        @include breakPoint($dev-lg){
            display: block;
            width: 100%;
            // height: 50vh;


            #myChart{
                height: inherit;
                width: auto;
            }
        }
    }
}

.us__text{
    h3{
        br{
            @include breakPoint($dev-md){
                display: none;
            }
        }
    }
    @include breakPoint($dev-lg){
        box-sizing: border-box;
        @include flex(column, center, center, none);
        text-align: center;
        padding: 3rem;

    }
}

.us__content{
    box-sizing: border-box;
    @include flex(column, center, center, none);
    @include breakPoint($dev-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        
    }
    @include breakPoint($dev-lg){
        padding: 2rem
    }

    .us__card{
        @include flex(column, center, center, none);
        padding: 2rem;
        text-align: center;

        img{
            height: auto;
            width: 60%;

            @include breakPoint($dev-sm){
                width: 80%;
            }
            @include breakPoint($dev-md){
                // width: 50%;
            }
        }
    }
}