@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.us{   
    .pure-g{
        @include breakPoint($dev-lg){
            @include flex(row-reverse, center, center, none);
        }

    }


    .piechart__container{
        display: none;

        @include breakPoint($dev-lg){
            display: block;
            width: 100%;
            // height: 50vh;


            #myChart{
                height: inherit;
                width: auto;
            }
        }
    }
}

.us__text{
    h3{
        br{
            @include breakPoint($dev-md){
                display: none;
            }
        }
    }
    @include breakPoint($dev-lg){
        box-sizing: border-box;
        @include flex(column, center, center, none);
        text-align: center;
        padding: 3rem;

    }
}

.us__content{
    box-sizing: border-box;
    @include flex(column, center, center, none);
    @include breakPoint($dev-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        
        
    }
    @include breakPoint($dev-lg){
        position: relative;
        padding: 4rem;

        
        &::before{
            content: '';
            position: absolute;
            inset: 0;
            backdrop-filter: blur(4px);
            z-index: 1;
            border-radius: 0 1rem 0 0;
            background-color: rgba(255, 255, 255, 0.067);
            border: solid 1px grey;
            margin-top: 2rem;
        }
    }

    .us__card{
        z-index: 1;
        @include flex(column, center, center, none);
        padding: 2rem;
        text-align: center;

        img{
            height: auto;
            width: 60%;

            @include breakPoint($dev-sm){
                width: 80%;
            }
            @include breakPoint($dev-md){
                // width: 50%;
            }
        }
    }
}