@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.stock{
    background-color: black;
    overflow: hidden;

    .stock__container{
        height: 100lvh;
    }
}

.stock__imgdisplay{
    position: relative;
    @include flex(column, center, center, none);
    img{
        transform: rotate(45deg);
    }


    .product__card{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        gap: 1rem;
        padding: 1rem 0;
        max-width: 320px;
        @include glass-bg-only($bg-color: rgba(255, 255, 255, 0.057)){
            border-radius: 1rem
        };
        




        @include breakPoint($dev-md){
            max-width: $dev-sm
        }

        .img__container{
            @include flex(row, center, center, none);
            
            img{
                height: 50px;
                width: auto;
            }
        }

        ul{
            li{
                color: white;
            }
        }
        button{
            width: 100px;
            margin: 0 auto;
            grid-column: 1 /-1;
        }
    }
}