@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.stock {
  position: relative;
  background-image: url(../../src/assets/img/graph-paper-white-light.svg);
  background-repeat: repeat;
  background-size: auto;
  background-color: black;
  margin-top: 10rem;

  .stock__container {
    margin-top: 5rem;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 80px;
      top: -40px;
      left: -10%;
      background-color: var(--clr-pink);
      transform: rotate(5deg);
    }

    .stock__title__container {
      color: white;
    }
  }
}

.stock__imgdisplay {
  position: relative;
  @include flex(column, center, center, none);

  .imgdisplay__container{

    .imgdisplay__img{
      min-height: 500px;
      // width: 100%;
      // height: auto;
    }

  }

  .imgdisplay__back,
  .imgdisplay__next{
    all: unset;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.328);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.27));
    left: 0;
  }
  .imgdisplay__back{
    // clip-path: polygon(0 50%, 100% 62%, 99% 38%);
    clip-path: polygon(53% 50%, 100% 62%, 99% 38%);
  }
  .imgdisplay__next{
    left: auto;
    right: 0;
    // clip-path: polygon(100% 50%, 0 62%, 0 38%);
    clip-path: polygon(53% 50%, 1% 62%, 0 38%);
  }

  .imgdisplay__img {
    min-height: 500px;
    filter: drop-shadow(0 0 20px #f7921e8f);
  }

  .product__card {
    position: relative;
    padding: 1rem 0;
    max-width: 320px;

    ul{
        padding: 0;
        li{
            list-style: square;
        }
    }

    @include breakPoint($dev-md) {
      max-width: $dev-sm;
    }

    .img__container {
      @include flex(row, center, center, none);

      img {
        height: 50px;
        width: auto;
      }
    }

    ul {
      li {
        list-style: none;
        color: white;
      }
    }
  }
}




