@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.stock {
  position: relative;
  background-color: black;
  margin-top: 10rem;
  

  @include breakPoint($dev-lg){
    margin-top: 0;
  }

  .bg__product{
    position: absolute;
    height: 100%;
    left: -30%;
    width: auto;
    filter: grayscale(1);
    // z-index: 0;

  }
  
  .stock__container {
    margin-top: 5rem;
    text-align: center;
    z-index: 1;
    

    
    @include breakPoint($dev-lg){
      @include flex(column, center, center, none);
    }

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 80px;
      top: -40px;
      left: -10%;
      background-color: var(--clr-pink);
      transform: rotate(5deg);
      z-index: 2;

      @include breakPoint($dev-lg){
        transform: rotate(2deg);
      }
    }

    .stock__title__container {
      color: white;
      z-index: 0;

      h4,
      h2{
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
      }
    }
  }

}

.stock__imgdisplay {
  overflow-y: hidden;
  // position: relative;
  @include flex(column, center, center, 1rem);


  .imgdisplay__container{
    overflow: hidden;
    width: 100vw;


    .imgdisplay__img{
      width: 100%;
      height: auto;
      padding: 1rem;
      filter: drop-shadow(0 0 10px var(--clr-pr));

      @include breakPoint($dev-lg){
        width: 30%
      }
    }

  }

  .imgdisplay__back,
  .imgdisplay__next{
    all: unset;
    z-index: 1;
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 20%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.838) 19%, rgba(0,0,0,0) 100%);

    svg{
      position: absolute;
      width: 30%;
      top: 50%;
      fill: var(--clr-pr);
      stroke: var(--clr-orange);
      stroke-width: 5px
    }

    }
    .imgdisplay__back{
      left: 0;
      svg{
        left: 0;
      }

  }
  .imgdisplay__next{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.838) 19%, rgba(0,0,0,0) 100%);
    right: 0;

    svg{
      right: 0;
    }

  }

  .product__card {
    position: relative;
    padding: 1rem 0;
    max-width: 320px;
    @include breakPoint($dev-lg){
      padding: 0;
    }


    ul{
      margin: 0;
      padding: 1rem 2rem 2rem 2rem;
      background-color: #0000005e;
      backdrop-filter: blur(4px);
      border-radius: 1rem;

        li{
          margin: 0;
          padding: 0;
            list-style: square;
        }
    }

    @include breakPoint($dev-md) {
      max-width: $dev-sm;
    }

    .img__container {
      @include flex(row, center, center, none);
      

      img {
        height: 50px;
        width: auto;
      }
    }

    ul {
      li {
        list-style: none;
        color: white;
      }
    }
  }
}




