@use "../../abstract/variables" as *;
@use "../../abstract/mixins" as *;

.stock {
  position: relative;
  background-color: black;
  margin-top: 10rem;
  background-image: url("/src/assets/img/componentesHardware/gtx1080.png");
  background-position: center;
  
  &::before{
    position: absolute;
    content: '';
    inset: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: grayscale(1);
    width: 100%;
  }
  
  
  @include breakPoint($dev-lg){
    margin-top: 0;
  }
  
  .stock__container {
    margin-top: 5rem;
    text-align: center;
    

    
    @include breakPoint($dev-lg){
      @include flex(column, center, center, none);
    }

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 80px;
      top: -40px;
      left: -10%;
      background-color: var(--clr-pink);
      transform: rotate(5deg);
      z-index: 2;

      @include breakPoint($dev-lg){
        transform: rotate(2deg);
      }
    }

    .stock__title__container {
      color: white;
    }
  }
}

.stock__imgdisplay {
  position: relative;
  // overflow: visible;
  @include flex(column, center, center, none);

  .imgdisplay__container{
    overflow: hidden;
    width: 100vw;
    // max-width: 100vw;
    // min-width: 100vw;

    .imgdisplay__img{
      width: 100%;
      height: auto;

      @include breakPoint($dev-lg){
        width: 50%;
      }
    }

  }

  .imgdisplay__back,
  .imgdisplay__next{
    all: unset;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: rgba(255, 255, 255, 0.328);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.27));
    left: 0;
    &:hover{
      filter: drop-shadow(0 0 10px #f7921e77);
    }
  }
  .imgdisplay__back{
    clip-path: polygon(53% 50%, 100% 62%, 99% 38%);
  }
  .imgdisplay__next{
    left: auto;
    right: 0;
    clip-path: polygon(53% 50%, 1% 62%, 0 38%);
  }

  .imgdisplay__img {

    filter: drop-shadow(0 0 10px #ffffff);
    // filter: drop-shadow(0 0  25px #000000) grayscale(1);
  }

  .product__card {
    position: relative;
    padding: 1rem 0;
    max-width: 320px;

   

    ul{
        padding: 0;
        li{
            list-style: square;
        }
    }

    @include breakPoint($dev-md) {
      max-width: $dev-sm;
    }

    .img__container {
      @include flex(row, center, center, none);
      

      img {
        height: 50px;
        width: auto;
      }
    }

    ul {
      li {
        list-style: none;
        color: white;
      }
    }
  }
}




