:root {
  --clr-pr: #f7931e;
  --clr-orange: #ff6700;
  --clr-pink: #f95047;
  --clr-grey: #e8e8e8;
  --clr-black: #000;
  --clr-greydark: #333;

  --txt-sm: 1rem;
  // --product-img: 
}

$dev-sm: 35.5rem;
$dev-md: 48rem;
$dev-lg: 64rem;
$dev-xlg: 80rem;
$dev-xxlg: 120rem;
